/* ========== МЕНЮ ========== */

QMenuBar {
    background-color: $BG_SECONDARY$;
    color: $TEXT_PRIMARY$;
    padding: 3px;
    border-bottom: 1px solid $BORDER$;
}

QMenuBar::item {
    padding: 2px 6px;
    background: transparent;
}

QMenuBar::item:selected {
    background: $ACCENT_PRIMARY$;
    border-radius: $RADIUS_SMALL$;
}

QMenu {
    background-color: $BG_SECONDARY$;
    border: 2px solid $BORDER$;
    border-radius: $RADIUS_SMALL$;
    padding: 1px;
}

QMenu::item {
    padding: 4px 6px;
    color: $TEXT_PRIMARY$;
}

QMenu::item:selected {
    background: $ACCENT_PRIMARY$;
    border-radius: $RADIUS_SMALL$;
}